<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
        <username>
            <name>{{ username }}</name>
            <privilege>15</privilege>
            <secret>
                <encryption>0</encryption>
                <secret>{{ new_password }}</secret>
            </secret>
        </username>
    </native>
</config>
